body {
    background-color: #d87db4;
    padding: 2%;
}

h1 {
    border-bottom: 5px solid 	#FFFFFF;
    font-family: sans-serif;
    font-size: 35px;
    margin: 0 0 20px 0;
    padding-bottom: 5px;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

p {
font-size: 25px;
}

p.instructions {
    font-weight: bold;
}

div {
    background-color: #b7b6db;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    padding: 10px;
}

div.data {
    margin-right: 2%;
    width: 25%
}

div.story {
    width: 73%;
}
